bin/terraform/terraform
venv
env
bin/terraform/working_test/.terraform
bin/terraform/working_test/*.hcl
.idea
.vscode
out
__pycache__
sample
node_modules
celery.db
yarn.lock
dev.db
alembic/versions/*.py
scripts/*
.DS_Store
*.tar.gz
*.rpm
ansible_data/*
logs/*

